.app{
  min-height: 100vh;
  background: lightblue;
  display: flex;
  
}
.tweet{
  height: 300px;
  width: 300px;
  background: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column; 
  justify-content: space-around;
  align-items: center;
  

}

.myinfo{
  min-height: 100vh;
  background: lightblue;
  display: flex;
  flex-direction: column; 
  align-items: center;
}
